@import "card";
@import "SuccessCard";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(235, 18%, 26%);
  font-size: 16px;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.attribution {
  padding-top: 20px;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(4, 100%, 67%);
  }
}
