.success-card {
  .container {
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 400px;
    padding: 3rem;

    h1 {
      font-size: 2.5rem;
      line-height: 0.9;
    }

    button {
      width: 100%;
      padding: 15px;
      border-radius: 8px;
      font-weight: 700;
      color: hsl(0, 0%, 100%);
      background: hsl(235, 18%, 26%);
      border: none;
      margin: 15px 0 0 0;
    }

    button:hover {
      background: linear-gradient(45deg, hsl(4, 67%, 56%), hsl(4, 100%, 67%));
      box-shadow: 0 10px 20px -5px hsl(4, 100%, 67%);
    }
  }
}

@media (max-width: 40em) {
  .success-card {
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
    .container {
      padding: 1rem;

      button {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
